NEXT_PUBLIC_SUPABASE_URL=https://ptgebiynkuejmgxcqulb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_JlXV2-Rd69YtvwzjS6LBYg_j7Onfs9k
SUPABASE_SERVICE_ROLE_KEY=cole_a_service_role_key_aqui
RESEND_API_KEY=cole_a_chave_resend_aqui
MUNDIAL_ADMIN_EMAIL=inscricoes@seudominio.com
FROM_EMAIL=Brasil Flag World Championship <noreply@seudominio.com>
NEXT_PUBLIC_SITE_URL=http://localhost:3000
