@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
  --navy: #031020;
  --navy2: #061b3a;

  --blue: #0D4BFF;
  --blue2: #2F6DFF;

  --green: #20e33f;
  --yellow: #f4ff00;

  --white: #ffffff;
  --muted: #dce6ff;

  --line: rgba(255,255,255,.14);

  --glass: rgba(13,75,255,.72);

  --shadow: 0 22px 70px rgba(0,0,0,.42);
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Inter',sans-serif;
  background:#031020;
  color:#fff;
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:inherit;
}

img{
  max-width:100%;
}

button,
input,
textarea,
select{
  font-family:inherit;
}